<section class="content_create">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="simple_form">
                    <%= simple_form_for @doc do | f | %>
                    <%= f.input :title %>
                    <%= f.input :content %>
                    <%= f.button :submit %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>