<section class="content_create">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to update page</h1>
               <%= render 'form' %>
                <span><%= link_to 'Cancel', docs_path, class: 'btn btn-md btn-info' %></span>
            </div>
        </div>
    </div>
</section>