<section class="welcome_index">
    <div class="container-fluid">
        <div class="row banner">
            <div class="col-md-12">
                <div class="banner">
                    <div class="banner_content">
                        <h1>File Cabinet</h1>
                        <h5>Your life's work. Organize, always.</h5>
                        <div class="button_reg">
                            <%= link_to 'Enter', new_user_registration_path, class: 'btn btn-xl 
                            btn-primary' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row banner_image img-responsive">
           <div class="col-md-6 col-md-offset-3">
               <div class="background_image">
                   <div class="image_content">
                       <h1>Organize</h1>
                       <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a 
                        -or-less normal distribution of letters, as opposed to using 'Content here, content here',    
                       </p>
                   </div>
               </div>
           </div> 
        </div>
        <div class="row banner_bottom">
            <div class="col-md-12">
                <div class="banner_content">
                    <h1>Go ahead!</h1>
                    <div class="button_reg">
                <%= link_to 'Join now !', new_user_registration_path, class: 'btn btn-xl 
                btn-primary btn_index' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
