<div class="container-fluid">
    <div class="row footer_height">
        <div class="col-md-6">
            <div class="copyright">
                Copyright &copy; <a href="http://ohidurzaman.com/">M.W Zaman | All rights reserved</a>
            </div>
        </div>
        <div class="col-md-4">
         <div class="footer_nav navbar-right">
            <ul>
                <li><%= link_to 'Log In', new_user_session_path, class: 'link' %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path, class: 'link' %></li>
            </ul>
         </div>
        </div>
    </div>
</div>